@media screen and (max-width: 500px) {
    html{
        margin-left: auto;
        margin-right: auto;
        
    }
    
    body{
        font-family: 'Roboto', sans-serif;
        margin: 0%;
    }

    .titre {
        font-family: 'Shrikhand', sans-serif;
        text-align: center;
    }


    /* localisation ville */
    .localisation {
            &__form{
                display: flex;
                position: relative;
                margin: 0;
            }
            .icone{
                position: absolute;
                top: 37%;
                left: 25%;
            }
            .input{
                background-color: rgb(234, 234, 234);
                height: 2rem;
                width: 100%;
                border: none;
                text-align: center;
                font-weight: bolder;
                background-color: #eaeaea;
                height: 5rem;
                width: 100%;
                border: none;
                text-align: center;
                font-weight: bolder;
                font-size: larger;
            }
            .input::placeholder{
                color: black;
                
            }
    }
     
    .info{
        background-color: rgb(246, 246, 246);
        display: flex;
        flex-direction: column;
        text-align: center;        
        padding: 10%;

        &__btn {
            background: rgb(255,121,218);
            background: linear-gradient(180deg, rgba(255,121,218,1) 16%, rgba(147,86,220,1) 100%);
            color: white;
            font-weight: bold;
            padding: 20px 0;
            border: none;
            border-radius: 30px;
            margin: 5% 16%;
            font-size: medium;
        }

    }          
 
    .fonctionnement{
        margin: 15% 5%;
        position: relative;

        .etapes{
            padding: 0;
            margin: 2%;
            margin-left: auto;
            margin-right: auto;
        }

        &__titre{
            margin-bottom:7%;
        }

        &_etape {
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: burlywood;
            padding: 1%;
            border-radius: 20px;
            width: 100%;
            margin: 5% 0;
            font-weight: bolder;
            -webkit-box-shadow: 0px 10px 18px 0px rgba(209,209,209,1);
            -moz-box-shadow: 0px 10px 18px 0px rgb(225, 223, 223);
            box-shadow: 0px 10px 18px 0px #c5c4c4;
            background-color: rgb(246, 246, 246);
            position: relative;
        
            &_numero{
                position: absolute;
                top: 10%;
                left: -2%;
                color: white;
                background-color: #9356DC;
                border-radius: 100%;
                height: 20px;
                width: 20px;
                padding-top: -2%;
                text-align: center;
                padding: 0px;
            }
            
            &:hover{
                background-color: rgb(247, 237, 255);;
            }

        }
        &__icone::before{
            margin-right:  20px;
            color: #9356DC;
        }
    }

    .Restaurant{
        background-color: rgb(246, 246, 246);
        padding: 10% 0;

        &__titre{
            margin-left: 8%;
        }

        &__figure{
            display: flex;
            flex-direction: column;
            position: relative;

            & a{
                color: black;
                text-decoration: none;
            }

           &__img{
            width: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            object-fit: cover;
            height: 170px;
           }
        }

        &__nouveau{
            background-color: #99E2D0;
            color: rgb(0, 135, 102);
            position: absolute;
            top: 5%;
            right: 5%;
            padding: 2%;
            font-weight: bold;
            font-size: small;
        }

        &__figcaption{
            background-color: white;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            -webkit-box-shadow: 0px 10px 18px 0px rgba(209,209,209,1);
            -moz-box-shadow: 0px 10px 18px 0px rgb(225, 223, 223);
            box-shadow: 0px 10px 18px 0px #c3c2c2;
            background-color: white;
            padding-left: 10px;
            height: 4rem;

            &__lieu{
                display: flex;
                flex-direction: column;
                height: 5rem;
                line-height: 0.4;
                justify-content: center;
                
                & p {
                    margin: 5px;
                }
            }
        }
        
        &__icone{
            padding-right: 10%;
            font-size: x-large;

            &:hover{
                color: #9356DC;
                cursor: pointer;
            }
        }
    }

    .footer{
        padding: 2%;
        background-color: rgb(53, 53, 53);
        color: white;
        
        .logo {
            text-align: left;
            padding-left: 10%;  
        }

        &__list{
            list-style: none;
        }
    } 

    /* la palette.html */

    .header__ {
        
        &titre{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        &icone{
            position: absolute;
            left: 10%;
            top: 45%;
            color: black;
            font-size: x-large;
        }
        
        &pic img{
            width:100% ;
            height: 240px;
            object-fit: cover;
        }
    }

    .palette{
        background-color: rgb(246, 246, 246);
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        position: relative;
        top: -40px;
        padding: 5% 3% 0 3%;

        &__nom__titre{
            padding-left: 3%;
            font-size: larger;

            & p {        
                border-bottom: 4px solid #99E2D0;
                padding-bottom: 2%;
                width: 15%;
            }
        }
    
        &__titre{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: inherit;
            justify-content: space-between;
            font-size: larger;
            
        }

        &__menu{
            list-style: none;
            padding-left: 0;
        }

        &__description{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: white;
            margin-bottom: 4%;
            border-radius: 20px;
            padding: 5% 0 0 3%;
            position: relative;
            -webkit-box-shadow: 0px 10px 18px 0px rgba(209,209,209,1);
            -moz-box-shadow: 0px 10px 18px 0px rgb(225, 223, 223);
            box-shadow: 0px 10px 18px 0px #c5c4c4;

            &__prix{
                position: absolute;
                right: 10%;
                top: 58%;
                font-weight: bolder;
            }

            & span{
                line-height: 0.4;
                display: flex;
                flex-direction: column;
            }
        }

    }
    .commander{
        .btn{
        background: linear-gradient(180deg, #ff79da 16%, #9356dc 100%);
        color: white;
        font-weight: bold;
        padding: 20px 0;
        border: none;
        border-radius: 30px;
        font-size: medium;
        margin: 10% 25% 15% 25%;
        width: 53%;
        }
    }

}

