html {
  margin-left: auto;
  margin-right: auto;
}
.loader{
  font-size : 50px;
  display: flex;
  flex-direction : column;
  align-items: center;
  justify-items:center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #9356dc,     #ac5bdc, #c160dc, #d667db, #e86edb, #d485ed, #c098f9, #afa8ff, #79bfff, #5bd0fb, #70dbe5, #99e2d0); 
  position:fixed;
  z-index: 1;
  height:100%;
  width: 100%;
  object-fit: cover;
  /*   animation */
  -webkit-animation-name: rotateOut;
  animation-name: rotateOut;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
 animation-delay : 3s;
}

.loader- {
  display : flex;
  
}

.loader-rond{
 display : flex;
  flex-direction:row;
 height : 100px;
 width : 100px;
  padding : 2%;
  box-sizing: border-box;
  margin : 2px;
} 

.loader-text{
 color:white;
}

.loader-rond--bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border-top : 7px solid #9356DC;
  border-bottom : 7px solid #FF79DA;
  border-right : 7px solid #99E2D0;
  border-left : 7px solid #99E2D0;
  border-radius: 50%;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  }
 
body {
  font-family: 'Roboto', sans-serif;
  margin: 0%;
}

.titre {
  font-family: 'Shrikhand', sans-serif;
  text-align: center;
}

/* localisation ville */
.localisation__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0;
}

.localisation .icone {
  position: absolute;
  top: 38%;
  left: 20%;
}

.localisation .input {
  background-color: #eaeaea;
  height: 2rem;
  width: 100%;
  border: none;
  text-align: center;
  font-weight: bolder;
  background-color: #eaeaea;
  height: 5rem;
  width: 100%;
  border: none;
  text-align: center;
  font-weight: bolder;
  font-size: larger;
}

.localisation .input::-webkit-input-placeholder {
  color: black;
}

.localisation .input:-ms-input-placeholder {
  color: black;
}

.localisation .input::-ms-input-placeholder {
  color: black;
}

.localisation .input::placeholder {
  color: black;
}

.info {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 10%;
}

.info__btn {
  background: #ff79da;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(16%, #ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 16%, #9356dc 100%);
  color: white;
  font-weight: bold;
  padding: 20px 0;
  border: none;
  border-radius: 30px;
  margin: 5% 16%;
  font-size: medium;
}

.fonctionnement {
  margin: 15% 5%;
  position: relative;
}

.fonctionnement .etapes {
  padding: 0;
  margin: 2%;
  margin-left: auto;
  margin-right: auto;
}

.fonctionnement__titre {
  margin-bottom: 7%;
}

.fonctionnement_etape {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: burlywood;
          box-shadow: burlywood;
  padding: 1%;
  border-radius: 20px;
  width: 100%;
  margin: 5% 0;
  font-weight: bolder;
  -webkit-box-shadow: 0px 10px 18px 0px #d1d1d1;
  box-shadow: 0px 10px 18px 0px #c5c4c4;
  background-color: #f6f6f6;
  position: relative;
}

.fonctionnement_etape:hover {
  background-color: #f7edff;
  box-shadow: 0px 10px 18px 0px #a7a4a4;
}

.fonctionnement_etape_numero {
  position: absolute;
  top: 10%;
  left: -2%;
  color: white;
  background-color: #9356DC;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  padding-top: -2%;
  text-align: center;
  padding: 0px;
}

.fonctionnement__icone {
  right: 78%;
  position: absolute;
}

.fonctionnement__icone::before {
  margin-right: 20px;
  color: #9356DC;
}

.Restaurant {
  background-color: #f6f6f6;
  padding: 10% 0;
}

.Restaurant__titre {
  margin-left: 8%;
}

.Restaurant__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.Restaurant__figure a {
  color: black;
  text-decoration: none;
}

.Restaurant__figure__img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 170px;
  object-position: 50% 62%;

}

.Restaurant__nouveau {
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 2%;
  font-weight: bold;
  font-size: small;
}

.Restaurant__figcaption {
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 10px 18px 0px #d1d1d1;
  box-shadow: 0px 10px 18px 0px #c3c2c2;
  background-color: white;
  padding-left: 5px;
  height: 4rem;
}

.Restaurant__figcaption__lieu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          line-height: 0.7;
            align-items: flex-start;
          
}

.Restaurant__figcaption__lieu p {
  margin: 5px;
}

.Restaurant__icone {
  padding-right: 10%;
  font-size: x-large;
}

.Restaurant__icone__nocheck {
  position: absolute;
  right: 9.7%;
  background-color: white;
}
/* coeur  */
.Restaurant__icone__nocheck:hover {
  opacity: 0;
}

.Restaurant__icone__cliked {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-animation: AnimationName 1s ease infinite;
  -moz-animation: AnimationName 1s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: AnimationName 1s ease infinite;
}

.card__titre__icone__cliked{
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-animation: AnimationName 1s ease infinite;
  -moz-animation: AnimationName 1s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: AnimationName 1s ease infinite;
}

.card__titre__icone__nocheck {
  position: absolute;
  right: 5.7%;
  background-color: #f6f6f6;
}

.card__titre__icone__nocheck:hover {
  opacity: 0;
}


.footer {
  padding: 2%;
  background-color: #353535;
  color: white;
}

.footer .logo {
  text-align: left;
  text-align: left;
    padding-left: 13%;
    font-size: larger;
}
.footer__lien{
  list-style: none;
  text-decoration: none;
  color: white;
}

.footer__list {
  list-style: none;
  flex-direction: column;
}

.entreeplatdessert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-direction: column;
}

/* la palette.html */
.header__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header__icone {
  position: absolute;
  left: 10%;
  top: 37%;
  color: black;
  font-size: x-large;
}

.header__pic img {
  width: 100%;
  height: 29%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card {
  background-color: #f6f6f6;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  top: -40px;
  padding: 3% 3% 0 3%;
  position: relative;
}

.card__nom__titre {
  padding-left: 3%;
}

.card__nom__titre h3 {
  border-bottom: 4px solid #99E2D0;
  padding-bottom: 2%;
  width: 15%;
  font-weight: normal;
}

.card__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: larger;
}

.card__menu {
  list-style: none;
  padding-left: 0;
}

.card__menu__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  margin-bottom: 4%;
  border-radius: 20px;
  padding-left: 3%;
  position: relative;
  -webkit-box-shadow: 0px 10px 18px 0px #d1d1d1;
  box-shadow: 0px 10px 18px 0px #c5c4c4;
  padding: 5%;
  overflow: hidden;
}

.card__menu__description:hover {
  
  -webkit-box-shadow: 0px 10px 18px 0px #9a9999;
  box-shadow: 0px 10px 18px 0px #9a9999;
}



.card__menu__description__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__menu__description__details i {
  width: 0%;
  display: none;
}

.card__menu__description__details:hover {
  width: 80%;
  cursor: pointer;
}

.card__menu__description__details:hover i {
  display: block;
  background-color: #99E2D0;
  color: white;
  font-size: x-large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  position: absolute;
  right: -1px;
  bottom: 0%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 20%;
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.card__menu__description__details:hover i::before {
  -webkit-animation: rotation 1s linear;
          animation: rotation 1s linear;
}

.card__menu__description--fadeIn1 {
  -webkit-animation-name: card__description--fadeIn1;
  animation-name: card__description--fadeIn1;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.card__menu__description--fadeIn2 {
  -webkit-animation-name: card__description--fadeIn2;
  animation-name: card__description--fadeIn2;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.card__menu__description--fadeIn3 {
  -webkit-animation-name: card__description--fadeIn3;
  animation-name: card__description--fadeIn3;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.card__menu__description--fadeIn4 {
  -webkit-animation-name: card__description--fadeIn3;
  animation-name: card__description--fadeIn3;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.card__menu__description__prix {
  font-weight: bolder;
  padding: 5% 5% 0 5%;
}

.card__menu__description__ov {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__menu__description__ov h4 {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__menu__description__ov p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.commander {
  margin-bottom: -9%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.commander .btn {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(16%, #ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 16%, #9356dc 100%);
  color: white;
  font-weight: bold;
  padding: 20px 0;
  border: none;
  border-radius: 30px;
  font-size: medium;
  margin: 10% 0%;
  width: 53%;
}

.commander .btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 18px 0px #d1d1d1;
  box-shadow: 0px 10px 18px 0px #c3c2c2;
}



@-webkit-keyframes bounce {
  
  0% {transform: rotate(0deg);
 }
100% { transform: rotate(359deg);
      }
} 

@keyframes bounce {
  0% {transform: rotate(0deg);}
100% { transform: rotate(359deg);
z-index:-1;}
} 

@keyframes rotateOut {
0% {
-webkit-transform-origin: center;
transform-origin: center;
opacity: 1;
}
100% {
-webkit-transform-origin: center;
transform-origin: center;
-webkit-transform: rotate3d(0, 0, 1, 200deg);
transform: rotate3d(0, 0, 1, 200deg);
opacity: 0;
display: none;
z-index:-1;
}
}

@-webkit-keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@-webkit-keyframes card__description--fadeIn1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes card__description--fadeIn1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes card__description--fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes card__description--fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes card__description--fadeIn3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes card__description--fadeIn3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);}
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  
  
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
   
  }
  
  
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/*# sourceMappingURL=mobile.css.map */